@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	/* change the values below to your colors from your palette */
	--primary-color: #6375ae;
	--secondary-color: #f2eee3;
	--accent1-color: #c6c9d3;
	--accent2-color: #000501;

	/* change the values below to your chosen font(s) */
	--heading-font: 'Roboto', sans-serif;
	--paragraph-font: 'Noto Sans', sans-serif;

	--nav-link-color: #000501;
	--nav-hover-link-color: #000501;

	/* standards spacings */
	--sides-padding: 0px 50px;
	--margin-bottom-block: 150px;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

	color: var(--accent2-color);
	font-size: 16px;
	font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--heading-font);
	font-size: 20px;
}

.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-accent1 {
	color: var(--accent1-color);
}

.text-accent1 {
	color: var(--accent2-color);
}

.bg-primary {
	background: var(--primary-color);
}

.bg-secondary {
	background: var(--secondary-color);
}

.bg-accent1 {
	background: var(--accent1-color);
}

/* header */
header {
	padding: 30px 40px;

	display: flex;
	justify-content: space-between;
}

header .logo {
	min-width: 200px;
	width: 20%;
}

header nav {
	width: 35%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

a {
	color: var(--nav-link-color);
	text-decoration: none;
}

a:hover {
	color: var(--nav-hover-link-color);
	text-decoration: underline;
}

#page {
	max-width: 1829px;
	margin: 0 auto;
}

.page-title {
	font-size: 28px;
	text-align: center;
}

.page-title span {
	color: var(--primary-color);
	font-size: 28px;
	text-transform: uppercase;
	text-decoration: underline var(--accent2-color);
}

/* hero */

#hero {
	margin: 20px 0;
	padding: var(--sides-padding);
}

#hero-img {
	width: 100%;
	margin: 30px 0;
}

.menu-summary-container {
	padding: var(--sides-padding);
	margin-bottom: var(--margin-bottom-block);
	display: flex;
	gap: 50px;
}

.menu-aside {
	min-width: 285px;
	height: fit-content;
	padding: 25px;
	border: 1px solid var(--accent2-color);
}

.menu-aside nav {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.block-title {
	font-size: 25px;
	margin-bottom: 40px;
}

#summary-about-me .block-title {
	margin-bottom: 20px;
}

#summary-about-me span {
	display: block;
	margin-bottom: 25px;
}

/* contact-info */
#contact-info {
	margin-bottom: var(--margin-bottom-block);
	padding: 40px 50px;
}

.contact-info-items {
	display: flex;
	justify-content: space-between;
}

.contact-info-items a {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

.contact-info-items h2 {
	font-weight: normal;
}

.contact-info-item .icon {
	width: 60px;
	height: 60px;
	border: 1px solid var(--accent2-color);
	border-radius: 50%;
	padding: 10px;
}

.contact-info-item .icon:last-child {
	padding: 13px;
}

.contact-info-item .icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* skills */

#skills {
	margin-bottom: var(--margin-bottom-block);
	padding: var(--sides-padding);
}

.skills-group-box {
	margin-bottom: 25px;

	display: flex;
	gap: 20px;
}

.skills-group-box h3 {
	font-size: 18px;
	font-weight: normal;
}

.skills-group-box .badge {
	background: var(--secondary-color);
	border: 1px solid var(--accent2-color);
	border-radius: 5px;
	padding: 2px 5px;
}

/* top-job-experiences */
#top-job-experiences {
	margin-bottom: var(--margin-bottom-block);
}

#top-job-experiences h2 {
	padding-left: 50px;
}

.job-experience {
	margin-bottom: 100px;
	padding: 80px 50px;

	display: flex;
	gap: 40px;
}

.img-container {
	width: 35%;
}

.job-experience .content h3 {
	color: var(--accent2-color);
	margin-bottom: 15px;
}

.job-experience .content a {
	color: var(--primary-color);
	text-decoration: underline;
}

.job-experience .content p {
	color: var(--accent2-color);
}

/* feedback-recommendations */
#feedback-recommendations {
	margin-bottom: var(--margin-bottom-block);
	padding: var(--sides-padding);
}

.recommendations {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	justify-content: space-between;
	gap: 20px;
}

.recommendations section {
	text-align: center;
}

.recommendations section img {
	width: 35%;
}

.recommendations section h3 {
	margin: 20px 0;
}

/* metrics */
#metrics {
	margin: 140px 0px;
	padding: var(--sides-padding);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

#metrics .block-title {
	margin: 0;
}

.metric-item {
	text-align: center;
}

.metric-item h3 {
	font-size: 25px;
	margin-bottom: 10px;
}

/* final-words */
#final-words {
	margin-bottom: var(--margin-bottom-block);
	padding: var(--sides-padding);
	display: grid;
	grid-template-columns: 280px 280px 280px;
	justify-content: center;
}

.final-word img {
	width: 100%;
}

.final-word h2 {
	font-size: 16px;
	margin-top: 25px;
	text-align: center;
}

.final-word:nth-child(1) {
	grid-column: 1/2;
}

.final-word:nth-child(2) {
	grid-column: 3/4;
}

footer {
	border-top: solid 1px var(--accent2-color);
	padding: var(--sides-padding);
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer p:first-child {
	font-size: 22px;
	text-align: center;
	margin-right: 60px;
}

footer .social {
	width: 130px;
}

/* project-gallery-main */

.project-gallery-main h1 {
	text-align: center;
	margin: 110px 0;
	font-size: 30px;
}

.project-gallery-main #top-job-experiences .job-experience:nth-child(1) h3 {
	color: var(--secondary-color);
}

.project-gallery-main #top-job-experiences .job-experience:nth-child(1) p {
	color: var(--secondary-color);
}

.project-gallery-main #top-job-experiences .job-experience:nth-child(1) p a {
	color: var(--accent2-color);
}

/* IMG MODAL */

/* Style the Image Used to Trigger the Modal */
.zoomImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.zoomImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* Dropdown */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}
